[Unit]
Description=My script that requires network
After=network.target

[Service]
Type=oneshot
ExecStart=/home/tomatenkobf/start_quackelbro.sh

[Install]
WantedBy=multi-user.target